language: node_js
node_js:
  - "stable"
cache:
  directories:
    - "node_modules"
install:
  - npm install
services:
  - postgresql

env:
  global:
    - NODE_ENV=test

before_script:
  - psql -c 'create database cyan_test;' -U postgres
  - psql -c "CREATE USER postgres WITH PASSWORD admin;" -U postgres
  - npm run build
  - npm install -g sequelize-cli
  - sequelize db:migrate
script:
  - npm test
after_success:
  - npm run coverage
